<p id="notice"><%= notice %></p>

<h1>Страница оператора  <%= @operator.name %></h1>
<p>
  <strong>Логин:</strong>
  <%= @operator.login %>
</p>
<p>
  <strong>Email:</strong>
  <%= @operator.email %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @operator.phone %>
</p>

<h2>Заказы в обработке</h2>

<% @operator.orders.each do |o| %>
<div class="card-panel">
<h3><%= o.id %></h3>
<p><%= o.status %></p>
<h4>Элементы заказа</h4>
<% o.items.each do |i| %>
<h5><%= i.name %></h5>
<% end %>
</div>
<p></p>
<% end %>


<%= link_to 'Редактировать страницу', edit_operator_path(@operator) %> |
<%= link_to 'Назад', operators_path %>
